<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Perfil</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="painel-principal painel-principal--pequeno">
    <div class="voltar">
      <a href="/<%= usuario.id %>">&larr;</a>
    </div>
    <h1>Meu Perfil</h1>
    <hr>

    <div class="info-perfil">
      <p><strong>Nome:</strong> <%= usuario.nome %></p>
      <p><strong>Email:</strong> <%= usuario.email %></p>
    </div>

    <hr>

    <div class="actions acations-perfil margin-top-30" >
      <a href="/<%= usuario.id %>/perfil/editar" class="btn btn-secondary">Editar Nome</a>
      <a href="/<%= usuario.id %>/perfil/excluir" class="btn btn-excluir">Excluir Conta</a>
    </div>

  </div>
</body>
</html>